
<footer style="background-color:#292B2C; padding-top:45px; color:#fff;" class="padding-top bg_black">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer_column">
        <h4 class="heading">Why Pastrify?</h4>
        <hr class="half_space">
        <p class="half_space">Pastrify is the best in the business at customizing cakes for consumers. Start creating your own Cakes and selling to Cake-lovers all over the world. </p>
      </div>
      <div class="col-md-3 col-sm-6 footer_column">
        <h4 class="heading">Useful links</h4>
        <hr class="half_space">
        <ul class="widget_links">
          <li><a style="color:#fff;"href="what-is">What is Pastrify?</a> </li>
          <li><a style="color:#fff;" href="who-are">Who are we?</a> </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer_column">
        <h4 class="heading">Newsletter</h4>
        <hr class="half_space">
        <p class="icon"><i class="icon-dollar"></i> Sign up with your name and email to get updates fresh updates.</p>
        <div id="result1" class="text-center"></div>

       <form action="http://themesindustry.us13.list-manage.com/subscribe/post-json?u=4d80221ea53f3a4487ddebd93&id=494727d648&c=?" method="get" onSubmit="return false" class="newsletter">
          <div class="form-group">
            <input type="email" placeholder="E-mail Address" required name="EMAIL" id="EMAIL" class="form-control" />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success btn-submit button3" value="Subscribe" />
          </div>
        </form>
      </div>
      <div class="col-md-3 col-sm-6 footer_column">
        <h4 class="heading">Get in Touch</h4>
        <hr class="half_space">
        <p>Restaurant, to consequat ipsum nec sagittis sem.</p>
        <p class="address"><i class="icon-location"></i> Restaurant, Manhattan 1258,New York, USA Lahore</p>
        <p class="address"><i class="fa fa-phone"></i> (+1) 234 567 8901</p>
        <p class="address"><i class="icon-dollar"></i> <a href="mailto:hello@website.com">hello@website.com</a></p>
      </div>
    </div>
    <div class="row">
     <div class="col-md-12">
        <div class="copyright clearfix">
          <p>Copyright &copy; 2017 Pastrify. All Right Reserved</p>

        </div>
      </div>
    </div>
  </div>
</footer>


<!-- End Footer -->
</div>
<!-- End Page Wrapper -->

<!-- JavaScripts -->
<script src="public/js/vendors/jquery/jquery.min.js"></script>

<script src="public/js/vendors/bootstrap.min.js"></script>


</body>
</html>
