<?php

$storename = 'No name set.';
if (isset($shop['name'])){
  $storename = $shop['name'];
}

?>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?php echo $storename; ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    
    <!-- STYLES -->
    <link rel="stylesheet" type="text/css" href="/Cakeshop/public/templates/template1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/Cakeshop/public/templates/template1/css/slippry.css">
    <link rel="stylesheet" type="text/css" href="/Cakeshop/public/templates/template1/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/Cakeshop/public/templates/template1/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/Cakeshop/public/templates/template1/css/style.css">
</head>

<body>

<header style="margin-bottom:50px" id="home" class="eternal-container-full-width">


      <!-- LOGO -->
      <div style="margin-bottom:80px" class="logo-container">
          <a href="#"> <?php echo $storename; ?> </a>
      </div>

      <div id="open-menu" class="open-menu"><i class="icon-heart5"></i></div>
      <div id="close-menu" class="close-menu"><i class="icon-heart6"></i></div>

</header>
