

 <script src="public/js/vendors/modernizr.js"></script>
 <script src="public/js/vendors/jquery/jquery.js"></script>
 <script src="public/js/vendors/bootstrap.min.js"></script>
 <script src="public/js/admin/fastclick/lib/fastclick.js"></script>
 <script src="public/js/admin/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
 <script src="public/js/admin/smartresize.js"></script>
 <script src="public/js/admin/constants.js"></script>
 <script src="public/js/admin/main.js"></script>
 <!-- endbuild -->
</body>

</html>
