<?php

require 'components/header.html';
require 'components/navbar.html';
?>

<section class="sub-banner" style="background-image:url(public/images/bg/login.png); height:200px;">
    <div  class="container">
      <div style="padding-top:35px;color:#fff;" class="text-center">
        <h1>Dashboard</h1>
      </div>
    </div>
  </section>



  <div class='container'>
    <div class='row'>
      <div class="card col-sm-12 col-md-10 col-lg-6">
          <div class="card-block">
                <h4 class="card-title">My shops</h4>
                <h6 class="card-subtitle mb-2 text-muted">Here is a list of shops you currently own</h6>
                <?php if (!empty($shops)) { ?>
                <?php foreach ($shops as $shop ) { ?>
                <div style='margin-top:25px;' class="card col-sm-6">
                  <div class="card-block col-sm-12">
                    <h4 class="card-title"> <?php echo $shop['name'] ?> </h4>
                    <h6 class="card-subtitle mb-2 textmuted"><?php echo $shop["description"] ?></h6>
                    <h6 style='margin-top:10px; margin-bottom:10px' class="card-subtitle mb-2 textmuted">Clipboard here</h6>
                    <a target="_blank" style='margin-top:5px; float:right' href="shop/<?php echo $shop['id'] ?>" class="btn btn-success card-link">View</a>
                    <a style='margin-top:5px; float:right' href="edit/shop/<?php echo $shop['id'] ?>" class="btn btn-outline-success card-link">Edit</a>
                  </div>
                </div>

                <?php }} else { ?>
                <div style='margin-top:25px;' class="card col-sm-6">
                  No shops found.
                </div>
                <?php } ?>

                <a style='margin-top:15px; float:right' href="#" class="btn btn-success card-link">View all</a>
                <a style='margin-top:15px; float:right' href="#" class="btn btn-outline-success card-link">Explore other shops</a>



          </div>
      </div>

      <div class="card col-sm-12 col-md-10 col-lg-6">
          <div class="card-block">
                <h4 class="card-title">Orders</h4>
                <h6 class="card-subtitle mb-2 text-muted">Here is a list of orders</h6>

                <table style='margin-top:25px;' class="table">
                        <thead>
                          <tr>
                            <th>Order id.</th>
                            <th>Order summary</th>
                            <th>Name</th>
                            <th>Total</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <?php if(!empty($orders)) { ?>
                          <?php foreach ($orders as $order) { ?>
                          <tr>
                            <th scope="row"><?php echo $order['id'] ?></th>
                            <td><a href='#'><?php echo $order['summary']?></a> </td>
                            <td><?php echo $order['name'] ?></td>
                            <td><?php echo $order['price'] ?></td>
                            <?php if ($order['status'] == 'fulfilled') { ?>
                              <td> <span class='badge badge-success'> Fulfilled </span> </td>
                            <?php } else if ($order['status'] == 'awaiting') { ?>
                              <td> <span class='badge badge-warning'> Awaiting payment </span> </td>
                            <?php } else if ($order['status'] == 'cancelled') { ?>
                              <td> <span class='badge badge-danger'> Order cancelled </span> </td>
                            <?php } ?>
                          </tr>
                          <?php }} else { ?>
                          <tr>
                            <td> No orders found. </td>
                          </tr>
                          <?php } ?>
                        </tbody>
                      </table>

                <a style='margin-top:15px; float:right' href="contact" class="btn btn-success card-link">View all orders</a>
                <a style='margin-top:15px; float:right' href="orders" class="btn btn-outline-success card-link">Contact Pastrify</a>


          </div>
      </div>
    </div>
    <div class="row">
        <div class="card col-sm-12 col-md-10 col-lg-6">
        <div class="card-block">
              <h4 class="card-title">My pastries</h4>
              <h6 class="card-subtitle mb-2 text-muted">Here is a list pastries you currently have</h6>


              <?php if(!empty($pastries)) { ?>

              <?php foreach($pastries as $pastry) { ?>

              <div style='margin-top:25px;' class="card col-sm-6">
                <div class="card-block col-sm-12">
                  <h4 class="card-title"><?php echo $pastry['name']?></h4>
                  <h6 class="card-subtitle mb-2 textmuted"><?php echo $pastry['description']?></h6>

                  <div class="row">
                    <div class="col-sm-6">
                      <span class="badge badge-success"> <?php echo $pastry['sold']?> </span>
                    </div>
                    <div class="col-sm-6">
                      <span class="badge badge-info"><?php echo $pastry['revenue']?> </span>
                    </div>


                  </div>

                  <a style='margin-top:15px; float:right' href="view/pastry/<?php echo $shop['id'] ?>" class="btn btn-success card-link">View</a>
                  <a style='margin-top:15px; float:right' href="edit/pastry/<?php echo $shop['id'] ?>" class="btn btn-outline-success card-link">Edit</a>
                </div>
              </div>

              <?php } } else {  ?>
                <div style='margin-top:25px;' class="card col-sm-6">
                    No pastries found.
                </div>
              <?php } ?>


              <a style='margin-top:15px; float:right' href="pastries" class="btn btn-success card-link">View all</a>
              <a style='margin-top:15px; float:right' href="explore/pastries" class="btn btn-outline-success card-link">Explore other shops</a>


        </div>
      </div>
      <div class="card col-sm-12 col-md-10 col-lg-6" style="background: url('public/images/bg/login.png')">
      <div class="card-block">
            <h4 style="color:#fff" class="card-title">My profile</h4>
            <h6 style="color:#fff" class="card-subtitle mb-2 ">This is your profile</h6>

            <div style='margin-top:25px; margin-bottom:25px;' class="card col-sm-12 col-md-8 offset-md-2">
              <div class="card-block col-sm-12">
                <h4 class="card-title"><?php echo $user->name ?></h4>
                <h6 class="card-subtitle mb-2 textmuted">Bio </h6>

                <div class="row">
                  <div class="">
                    <img class="col-sm-6 offset-sm-3 rounded-circle" src="https://img.clipartfox.com/364115354b9852a6aeff9757c3c6ab3e_chef-clip-art-free-clipart-clip-art-chef_931-983.jpeg">
                  </div>
                </div>



                <a style='margin-top:15px; float:right' href="profile" class="btn btn-success card-link">View profile</a>
                <a style='margin-top:15px; float:right' href="edit/profile" class="btn btn-outline-success card-link">Edit profile </a>
              </div>
            </div>




      </div>
    </div>
    </div>
  </div>



<?php

require 'components/footer.html';

?>
