<?php

require 'components/header.html';
require 'components/navbar.html';
?>

<section class="sub-banner" style="background-image:url(public/images/bg/login.png); height:200px;">
    <div  class="container">
      <div style="padding-top:35px;color:#fff;" class="text-center">
        <h1>Explore pastries</h1>
      </div>
    </div>
  </section>


<div style="padding-top:25px; padding-bottom:25px"class="container">


      <!-- Get Form Shop selection-->
      <div class="row">
        <div class="col-sm-12 col-md-12 card">
            <div class="card-block">
               Pastry filter here
            </div>
        </div>
      </div>
      <!-- Example row of columns -->
      <div class="row">

          <!-- sample shop -->
          <div class="col-sm-12 col-md-4 card" style="margin-top: 10px;width: 20rem;">
                <img style="height:200px" class="card-img-top" src="public/images/templates/1.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Sample pastry</h4>
                  <p class="card-text">Pastry description sample blablabla.</p>
                  <a target="_blank" href="#" class="btn btn-primary">View pastry</a>
                </div>
          </div>

      </div>
  </div>




<?php

require 'components/footer.html';

?>
