<?php

require 'components/header.html';
require 'components/navbar.html';
?>

<div  class="jumbotron" style="background: url('public/images/bg/promo-bg.png')">
      <div class="container">
        <h1 style="color:#fff" class="display-4">Give Pastrify a try!</h1>
        <p style="color:#fff"> An amazing solution to create, customize and sell your own pastries.</p>
        <p><a class="btn btn-outline-success btn-lg" href="register" role="button">Get started &raquo;</a></p>
      </div>
</div>

<div style="padding-top:25px; padding-bottom:25px"class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  </div>

<div   class="jumbotron" style="background: url('public/images/bg/login.png');margin-bottom:0px">
      <div class="container">
        <h1 style="color:#fff" class="display-4">Create your own personal shop</h1>
        <p style="color:#fff"> And join the so many others that went before you.</p>
        <p><a class="btn btn-success btn-lg" href="explore" role="button">Explore shops &raquo;</a></p>
      </div>
</div>



<?php

require 'components/footer.html';

?>
